.center {
    display: block;
    margin-left:20%;
    margin-right: 20%;
    width: 30%;
  }
  .center.searchone{
      align-self: center;
      
  }
.center.bar{
    margin-right: auto;
    margin-right: auto;
}


  .form { 
    margin:5; 
    width:200px;
    margin-top: 15%;
    }

    .size{
        width: 250px;
        height:40px ;
    }

    .cart{
        margin-right: 10px;
        margin-top: 170px;
    }

    .cartfont{
        font-weight: 200;
        color: rgb(228, 78, 135);
    }

   .rowsize{
       height: 10%;
    }

    .image{
        text-align: 20%;
    }

    .container {
        margin-right: 0;
        margin-left: 15%;
    }
    