<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-2 col-xs-2">
                  <!-- <div class="shop">-->
                    <div class="shop-img">
                        <img src="/assets/img/product01.png" alt="" class="image">
                    </div>
                    <!--<div class="shop-body">
                   <h3>Birthday Cake<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>-->
                <!--</div>-->
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-2 col-xs-2">
                 <!-- <div class="shop">-->
                    <div class="shop-img">
                        <img src="/assets/img/product02.png" alt="" class="image">
                    </div>
                   <!-- <div class="shop-body">
                      <h3>Accessories<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>-->
                <!--</div>-->
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-2 col-xs-2">
                 <!-- <div class="shop">-->
                    <div class="shop-img">
                        <img src="/assets/img/product03.png" alt="" class="image">
                    </div>
                  <!--  <div class="shop-body">
                       <h3>Cameras<br>Collection</h3>
                        <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>-->
                 <!--</div>-->
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-2 col-xs-2">
                <!-- <div class="shop">-->
                   <div class="shop-img">
                       <img src="/assets/img/product05.png" alt="" class="image">
                   </div>
                 <!--  <div class="shop-body">
                      <h3>Cameras<br>Collection</h3>
                       <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                   </div>-->
                <!--</div>-->
           </div>
           <!-- /shop -->
           <!-- shop -->
           <div class="col-md-2 col-xs-2">
            <!-- <div class="shop">-->
               <div class="shop-img">
                   <img src="/assets/img/product06.png" alt="" class="image">
               </div>
             <!--  <div class="shop-body">
                  <h3>Cameras<br>Collection</h3>
                   <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
               </div>-->
            <!--</div>-->
       </div>
       <!-- /shop -->
        <!-- shop -->
        <div class="col-md-2 col-xs-2">
            <!-- <div class="shop">-->
               <div class="shop-img">
                   <img src="/assets/img/product07.png" alt="" class="image">
               </div>
             <!--  <div class="shop-body">
                  <h3>Cameras<br>Collection</h3>
                   <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
               </div>-->
            <!--</div>-->
       </div>
       <!-- /shop -->
       
        
        </div>
        <!-- /row -->


 <!-- row -->
 <div class="row">
     <br>
    <!-- shop -->
    <div class="col-md-2 col-xs-2" >
          <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product08.png" alt="" class="image">
            </div>
            <!--<div class="shop-body">
           <h3>Birthday Cake<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
        <!--</div>-->
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-2 col-xs-2">
         <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product09.png" alt="" class="image">
            </div>
           <!-- <div class="shop-body">
              <h3>Accessories<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
        <!--</div>-->
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-2 col-xs-2">
         <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product10.png" alt="" class="image">
            </div>
          <!--  <div class="shop-body">
               <h3>Cameras<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
         <!--</div>-->
    </div>
    <!-- /shop -->
    <!-- shop -->
    <div class="col-md-2 col-xs-2">
        <!-- <div class="shop">-->
           <div class="shop-img">
               <img src="/assets/img/product11.png" alt="" class="image">
           </div>
         <!--  <div class="shop-body">
              <h3>Cameras<br>Collection</h3>
               <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
           </div>-->
        <!--</div>-->
   </div>
   <!-- /shop -->
   <!-- shop -->
   <div class="col-md-2 col-xs-2">
    <!-- <div class="shop">-->
       <div class="shop-img">
           <img src="/assets/img/product13.png" alt="" class="image">
       </div>
     <!--  <div class="shop-body">
          <h3>Cameras<br>Collection</h3>
           <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
       </div>-->
    <!--</div>-->
</div>
<!-- /shop -->
<!-- shop -->
<div class="col-md-2 col-xs-2">
    <!-- <div class="shop">-->
       <div class="shop-img">
           <img src="/assets/img/product12.png" alt="" class="image">
       </div>
     <!--  <div class="shop-body">
          <h3>Cameras<br>Collection</h3>
           <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
       </div>-->
    <!--</div>-->
</div>
<!-- /shop -->


</div>
<!-- /row -->


 <!-- row -->
 <div class="row">
    <br>
    <!-- shop -->
    <div class="col-md-2 col-xs-2">
          <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product20.png" alt="" class="image">
            </div>
            <!--<div class="shop-body">
           <h3>Birthday Cake<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
        <!--</div>-->
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-2 col-xs-2">
         <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product15.png" alt="" class="image">
            </div>
           <!-- <div class="shop-body">
              <h3>Accessories<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
        <!--</div>-->
    </div>
    <!-- /shop -->

    <!-- shop -->
    <div class="col-md-2 col-xs-2">
         <!-- <div class="shop">-->
            <div class="shop-img">
                <img src="/assets/img/product16.png" alt="" class="image">
            </div>
          <!--  <div class="shop-body">
               <h3>Cameras<br>Collection</h3>
                <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>-->
         <!--</div>-->
    </div>
    <!-- /shop -->
    <!-- shop -->
    <div class="col-md-2 col-xs-2">
        <!-- <div class="shop">-->
           <div class="shop-img">
               <img src="/assets/img/product17.png" alt="" class="image">
           </div>
         <!--  <div class="shop-body">
              <h3>Cameras<br>Collection</h3>
               <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
           </div>-->
        <!--</div>-->
   </div>
   <!-- /shop -->
   <!-- shop -->
   <div class="col-md-2 col-xs-2">
    <!-- <div class="shop">-->
       <div class="shop-img">
           <img src="/assets/img/product18.png" alt="" class="image">
       </div>
     <!--  <div class="shop-body">
          <h3>Cameras<br>Collection</h3>
           <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
       </div>-->
    <!--</div>-->
</div>
<!-- /shop -->
<!-- shop -->
<div class="col-md-2 col-xs-2">
    <!-- <div class="shop">-->
       <div class="shop-img">
           <img src="/assets/img/product19.png" alt="" class="image">
       </div>
     <!--  <div class="shop-body">
          <h3>Cameras<br>Collection</h3>
           <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
       </div>-->
    <!--</div>-->
</div>
<!-- /shop -->


</div>
<!-- /row -->

   </div>
    <!-- /container -->
</div>
<!-- /SECTION -->




