
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="margin-top: auto;" 
      class="topmargin" style="font-style: italic;" style="background-color: black;">
    <mat-toolbar>Top Categories</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/birthdaycakes" routerLinkActive="active" mat-list-item href="#" style="color: white;">Birthday Cakes</a>
      <a routerLink="/weddingcakes" routerLinkActive="active" mat-list-item href="#" style="color: white;">Wedding Cakes</a>
      <a routerLink="/coporatecakes" routerLinkActive="active" mat-list-item href="#" style="color: white;">Corporate Cakes</a>
      <a routerLink="/specialoccasioncake" routerLinkActive="active" mat-list-item href="#" style="color: white;">Special Occasion Cakes</a>
      <a routerLink="/cookies-cupcakes" routerLinkActive="active" mat-list-item href="#" style="color: white;">Cookies and Cupcakes</a>
      <a routerLink="/dessert" routerLinkActive="active" mat-list-item href="#" style="color: white;">Desserts</a>
    </mat-nav-list>
  </mat-sidenav>
 <mat-sidenav-content>
<!--     <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
    </mat-toolbar> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
