
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="margin-top: auto;" 
      class="topmargin" style="font-style: italic;" style="background-color: black;">
    <mat-toolbar>Top Categories</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"  style="color: white;">Birthday Cakes</a>
      <a mat-list-item href="#" style="color: white;">Wedding Cakes</a>
      <a mat-list-item href="#" style="color: white;">Corporate Cakes</a>
      <a mat-list-item href="#" style="color: white;">Special Occasion Cakes</a>
      <a mat-list-item href="#" style="color: white;">Cookies and Cupcakes</a>
      <a mat-list-item href="#" style="color: white;">Desserts</a>
    </mat-nav-list>
  </mat-sidenav>
 <mat-sidenav-content>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
